{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Crear Alumno</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="container">
                <h1>Agregar Alumno</h1>
                <form method="POST" action="/editarAlumno">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{alumno.nombre}}" placeholder="Nombre" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno" value="{{alumno.apellido_paterno}}" placeholder="Apellido Paterno" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="apellido_materno" name="apellido_materno" value="{{alumno.apellido_materno}}" placeholder="Apellido Materno" required>
                  </div>
                  <div class="form-group">
                    <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" value="{{alumno.fecha_nacimiento}}" placeholder="Fecha Nacimiento" required>
                  </div>
          
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                  </div>
                </form>
              </div>
        </div>
    </div>
    
    </div>
</body>
</html>