{% extends "base.html" %}

{% block main%}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <td>Nombre</td>
            <td>Descripción</td>
            <td>Imagen</td>
            <td>detalles</td>
        </tr>
    </thead>
    <tbody>
            <tr>                   
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>

{% for fecha in results%}
    <p>{{fecha.nombre}}</p>
{% endfor %}

{% endblock %}